{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Files</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link type='text/css' rel="stylesheet" href='{% static "css/file_manager.css" %}''>
</head>

<body>
    <div class="topnav">
        <a class="active" href="{% url 'manager' %}">Mis archivos</a>
        <a href="{% url 'shared' %}">Archivos compartidos</a>
        <form method="POST" action="{% url 'logout' %}" id="logoutForm">
            {% csrf_token %}
            <a href="#" onclick="document.getElementById('logoutForm').submit();">Cerrar sesi&oacute;n</a>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 d-none d-md-block sidebar" style="height: 100vh; width: 30%;">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <h4 class="nav-link active">Carpetas</h4>
                            {% for directory in directories %}
                            <li>
                                <div class="d-flex justify-content-between align-items-center">
                                    <form method="post" action="{% url 'manager' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="folder_id" value="{{ directory.id }}">
                                        <button type="submit" name="browse_folder_button" id="browse_folder_button" class="btn btn-light btn-orange btn-wide">{{ directory.name }}</button>
                                    </form>
                                    <form method="post" action="{% url 'manager' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="delete_folder_id" value="{{ directory.id }}">
                                        <button type="submit" name="delete_folder" id="delete-folder-button" class="btn btn-light btn-sm">Borrar</button>
                                    </form>
                                </div>
                            </li>
                            {% endfor %}
                            <form method="post" action="{% url 'manager' %}">
                                {% csrf_token %}
                                <input type="text" name="folder_name" id="folder-name-input" placeholder="Digite un nombre">
                                <button type="submit" name="create_folder" class="btn-lighter" id="create-folder-button">Crear carpeta</button>
                            </form>                            
                        </li>                        
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4" style="width: 70%; min-height: 500px;">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Nombre</th>
                                <th style="text-align: center;">Tamaño</th>
                                <th style="text-align: center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>
                                <td style="text-align: center;">{{ file.name }}</td>
                                <td style="text-align: center;">{{ file.size }}</td>
                                <td style="text-align: center;">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-orange dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Opciones
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <form method="post" action="{% url 'manager' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="download_file_name" value="{{ file.id }}">
                                                <button type="submit" class="dropdown-item" name="download_file_button">Descargar</button>
                                            </form>
                                            <div class="dropdown-item">
                                                <form method="post" action="{% url 'manager' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="move_file_name" value="{{ file.id }}">
                                                    <input type="hidden" name="move_file_fullname" value="{{ file.name }}">
                                                    <select name="target_directory_{{ file.id }}" id="target_directory_{{ file.id }}" class="target-directory">
                                                        <option value="">Mover</option>
                                                        {% for directory in directories %}
                                                            <option value="{{ directory.id }}" data-dir-name="{{ directory.name }}">{{ directory.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="target_directory_move_{{ file.id }}" id="target_directory_move_{{ file.id }}">
                                                    <button type="submit" name="move_file_button">Mover</button>                                                                                               
                                                </form>
                                            </div>            
                                            <form method="post" action="{% url 'manager' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="share_file_id" value="{{ file.id }}">
                                                <input type="hidden" name="share_user_id" id="share_user_id">
                                                <input type="text" name="share_email" placeholder="Correo">
                                                <button type="submit" class="dropdown-item" name="share_file_button">Compartir</button>
                                            </form>                                                                           
                                            <form method="post" action="{% url 'manager' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="delete_file_name" value="{{ file.id }}">
                                                <button type="submit" class="dropdown-item" name="delete_file_button">Eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <select name="directory" id="directory-dropdown" required style="margin-bottom: 10px;">
                            <option value="">-- Seleccione una carpeta --</option>
                            {% for directory in directories %}
                                <option value="{{ directory.id }}">{{ directory.name }}</option>
                            {% endfor %}
                        </select>
                        <form method="post" enctype="multipart/form-data" id="upload-form">
                            {% csrf_token %}
                            <input type="file" name="file" id="file-input" style="display: none;" multiple>
                            <input type="hidden" name="selected_directory" id="selected-directory">
                            <button class="btn btn-light btn-lighter" type="button" id="choose-file-button">Elegir archivo</button>
                            <button class="btn btn-light btn-orange" type="submit" name="upload_file_button" id="upload-button">Subir archivo</button>
                        </form>
                        <div id="error-message" style="display: none; color: red;">Error subiendo archivo</div>
                    </div>                    
                </div>                
            </main>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/adminArchivos.js' %}"></script>    
</body>

</html>